@*temp hidden feilds for store value*@
<div style="height:0; width:0; overflow:hidden;">
    <input type="text" name="hdnSearchClick" id="hdnSearchClick" />
    <input type="text" name="hdnClarityClick" id="hdnClarityClick" value="0" />
    <input type="text" name="hdnPriceMinVal" id="hdnPriceMinVal" value="0" />
    <input type="text" name="hdnPriceMaxVal" id="hdnPriceMaxVal" value="132" />
    <input type="text" name="hdnTmpDiamondShape" id="hdnTmpDiamondShape" value="Round" />
    <input type="text" name="hdnTmpCaratMin" id="hdnTmpCaratMin" value="@ViewBag.MinimumCaratSize" />
    <input type="text" name="hdnTmpCaratMax" id="hdnTmpCaratMax" value="@ViewBag.MaximumCaratSize" />
    <input type="text" name="hdnTmpCutMin" id="hdnTmpCutMin" value="1" />
    <input type="text" name="hdnTmpCutMax" id="hdnTmpCutMax" value="3" />
    <input type="text" name="hdnTmpFlourscenceMin" id="hdnTmpFlourscenceMin" value="1" />
    <input type="text" name="hdnTmpFlourscenceMax" id="hdnTmpFlourscenceMax" value="4" />
    <input type="text" name="hdnTmpClarityMin" id="hdnTmpClarityMin" value="1" />
    <input type="text" name="hdnTmpClarityMax" id="hdnTmpClarityMax" value="4" />

    <input type="text" name="hdnTmpClarityMin2" id="hdnTmpClarityMin2" value="5" />
    <input type="text" name="hdnTmpClarityMax2" id="hdnTmpClarityMax2" value="10" />
    <input type="text" name="hdnTmpPolishMin" id="hdnTmpPolishMin" value="1" />
    <input type="text" name="hdnTmpPolishMax" id="hdnTmpPolishMax" value="3" />
    <input type="text" name="hdnTmpPriceMin" id="hdnTmpPriceMin" value="0" />
    <input type="text" name="hdnTmpPriceMax" id="hdnTmpPriceMax" value="9999999" />
    <input type="text" name="hdnTmpColorMin" id="hdnTmpColorMin" value="1" />
    <input type="text" name="hdnTmpColorMax" id="hdnTmpColorMax" value="8" />
    <input type="text" name="hdnTmpSymmetryMin" id="hdnTmpSymmetryMin" value="1" />
    <input type="text" name="hdnTmpSymmetryMax" id="hdnTmpSymmetryMax" value="3" />
    <input type="text" name="hdnTmpSearchKeyWord" id="hdnTmpSearchKeyWord" value="@ViewBag.SearchKeyWord" />
    <input type="text" name="hdnTmpCurrentPage" id="hdnTmpCurrentPage" value="1" />
    <input type="text" name="hdnTmpIsEyeClean" id="hdnTmpIsEyeClean" value="false" />
    <input type="text" name="hdnTmpIsFindLargestDiamond" id="hdnTmpIsFindLargestDiamond" value="0" />


    <input type="text" name="hdnDiamondShape" id="hdnDiamondShape" value="Round" />
    <input type="text" name="hdnCaratMin" id="hdnCaratMin" value="@ViewBag.MinimumCaratSize" />
    <input type="text" name="hdnCaratMax" id="hdnCaratMax" value="@ViewBag.MaximumCaratSize" />
    <input type="text" name="hdnCutMin" id="hdnCutMin" value="1" />
    <input type="text" name="hdnCutMax" id="hdnCutMax" value="4" />
    <input type="text" name="hdnFlourscenceMin" id="hdnFlourscenceMin" value="1" />
    <input type="text" name="hdnFlourscenceMax" id="hdnFlourscenceMax" value="2" />
    <input type="text" name="hdnClarityMin" id="hdnClarityMin" value="1" />
    <input type="text" name="hdnClarityMax" id="hdnClarityMax" value="4" />
    <input type="text" name="hdnClarityMin2" id="hdnClarityMin2" value="5" />
    <input type="text" name="hdnClarityMax2" id="hdnClarityMax2" value="10" />
    <input type="text" name="hdnPolishMin" id="hdnPolishMin" value="1" />
    <input type="text" name="hdnPolishMax" id="hdnPolishMax" value="4" />
    <input type="text" name="hdnPriceMin" id="hdnPriceMin" value="0" />
    <input type="text" name="hdnPriceMax" id="hdnPriceMax" value="9999999" />
    <input type="text" name="hdnColorMin" id="hdnColorMin" value="1" />
    <input type="text" name="hdnColorMax" id="hdnColorMax" value="8" />
    <input type="text" name="hdnSymmetryMin" id="hdnSymmetryMin" value="1" />
    <input type="text" name="hdnSymmetryMax" id="hdnSymmetryMax" value="4" />
    <input type="text" name="hdnSearchKeyWord" id="hdnSearchKeyWord" value="@ViewBag.SearchKeyWord" />
    <input type="text" name="hdnSearchBy" id="hdnSearchBy" value="@ViewBag.SearchBy" />
    <input type="text" name="hdnCurrentPage" id="hdnCurrentPage" value="1" />
    <input type="text" name="hdnIsEyeClean" id="hdnIsEyeClean" value="false" />
    <input type="text" name="hdnIsEyeCleanClick" id="hdnIsEyeCleanClick" value="0" />
    <input type="text" name="hdnIsDiamondSave" id="hdnIsDiamondSave" value="0" />

    <input type="text" name="hdnSortOrder" id="hdnSortOrder" value="asc" />
    <input type="text" name="hdnSortByColumn" id="hdnSortByColumn" value="amount" />


    <input type="text" name="hdnMinimumCaratSize" id="hdnMinimumCaratSize" value="@ViewBag.MinimumCaratSize" />
    <input type="text" name="hdnMaximumCaratSize" id="hdnMaximumCaratSize" value="@ViewBag.MaximumCaratSize" />
</div>
<div class="mob-view">
    <!-- diamond box -->
    <div class="diamond-section">
        <div class="diamond-box" id="shapediv">
            <ul>
                <li id="liRound" onclick="DiamondSearch('liRound')" class="active" title="Round">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img1.png")" /></div>
                    <p>Round</p>
                </li>
                <li id="liPrincess" onclick="DiamondSearch('liPrincess')" class="" title="Princess">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img2.png")" /></div>
                    <p>Princess</p>
                </li>
                <li id="liEmerald" onclick="DiamondSearch('liEmerald')" class="" title="Emerald">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img3.png")" /></div>
                    <p>Emerald</p>
                </li>
                <li id="liAsscher" onclick="DiamondSearch('liAsscher')" class="" title="Asscher">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img4.png")" /></div>
                    <p>Asscher</p>
                </li>
                <li id="liMarquise" onclick="DiamondSearch('liMarquise')" class="" title="Marquise">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img5.png")" /></div>
                    <p>Marquise</p>
                </li>
                <li id="liOval" onclick="DiamondSearch('liOval')" class="" title="Oval">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img6.png")" /></div>
                    <p>Oval</p>
                </li>
                <li id="liRadiant" onclick="DiamondSearch('liRadiant')" class="" title="Radiant">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img7.png")" /></div>
                    <p>Radiant</p>
                </li>
                <li id="liPear" onclick="DiamondSearch('liPear')" class="" title="Pear">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img8.png")" /></div>
                    <p>Pear</p>
                </li>
                <li id="liHeart" onclick="DiamondSearch('liHeart')" class="" title="Heart">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img9.png")" /></div>
                    <p>Heart</p>
                </li>
                <li id="liCushion" onclick="DiamondSearch('liCushion')" class="" title="Cushion">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/diamond-img10.png")" /></div>
                    <p>Cushion</p>
                </li>
                <li id="liMultiSelect" onclick="DiamondSearch('liMultiSelect')" class="" title="Multi-Select">
                    <div class="img-box"><img src="@Url.Content("~/Content/FrontEnd/images/multi-select.png")" /></div>
                    <p>Multi-Select</p>
                </li>
            </ul>
            <div class="cl"></div>
        </div>
        <div class="cl"></div>
    </div>
    <!-- diamond box end -->
    <!-- range box -->
    <div class="range-section">
        <div class="range-box">
            <ul>
                <li>
                    <div class="ui-widget-content-container fl divCarat">
                        <p>carat</p>
                        <div class="cl"></div>
                        <div id="slider-carat" class="Range"></div>
                        <div>
                            <input type="text" id="carat-min" class="inputxt fl" maxlength="5" />
                            <input type="text" id="carat-max" class="inputxt fr" maxlength="5" />
                            <div class="cl"></div>
                        </div>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>
                            Clarity
                            <span class="check-box desk">
                                <input type="checkbox" id="chkdeskClarity1" class="chkClarity1" name="cc" checked="checked">
                                <label for="chkdeskClarity1"><span></span></label>
                                <span class="cl"></span>
                            </span>
                        </p>
                        <div class="cl"></div>
                        <span class="check-box mob">
                            <input type="checkbox" id="chkmobClarity1" class="chkClarity1" name="cc" checked="checked">
                            <label for="chkmobClarity1"><span></span></label>
                            <span class="cl"></span>
                        </span>
                        <div class="padd-left"><div id="slider-clarity" class="Range"></div></div>
                        <ul class="color">
                            <li>SI2</li>
                            <li>SI1</li>
                            <li>VS2</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>
                            <span class="check-box desk">
                                <input type="checkbox" id="chkdeskClarity2" class="chkClarity2" name="cc" checked="checked">
                                <label for="chkdeskClarity2"><span></span></label>
                                <span class="cl"></span>
                            </span>
                        </p>
                        <div class="cl"></div>
                        <span class="check-box mob">
                            <input type="checkbox" id="chkmobClarity2" class="chkClarity2" name="cc" checked="checked">
                            <label for="chkmobClarity2"><span></span></label>
                            <span class="cl"></span>
                        </span>
                        <div id="slider-clarity2" class="Range"></div>
                        <ul class="clarity2">
                            <li>VS1</li>
                            <li>VVS2</li>
                            <li>VVS1</li>
                            <li>FL</li>
                            <li>IF</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container no-bg fl milky-ipad">
                        <p>
                            <span class="check-box mob eye-padd">
                                <input type="checkbox" id="MobEyeClean" class="chkMobEyeClean" name="cc" checked="checked">
                                <label for="MobEyeClean"><span></span> Yes</label>
                                <span class="cl"></span>
                            </span>
                            Eye clean
                        </p>
                        <p>
                            <span class="check-box mob milky-chk">
                                <input type="checkbox" id="chkMilky" name="cc" checked="checked" disabled="disabled">
                                <label for="chkMilky"><span></span>No </label>
                                <span class="cl"></span>
                            </span>
                            Milky
                        </p>
                        <div class="cl"></div>

                    </div>

                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>Colour</p>
                        <div class="cl"></div>
                        <div id="slider-colour" class="Range"></div>
                        <ul class="cutlist">
                            <li>J</li>
                            <li>I</li>
                            <li>H</li>
                            <li>G</li>
                            <li>F</li>
                            <li>E</li>
                            <li>D</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>cut</p>
                        <div class="cl"></div>
                        <div id="slider-cut" class="Range"></div>
                        <ul class="color">
                            <li>Excellent</li>
                            <li>Very Good</li>
                            <li>Good</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>POLISH</p>
                        <div class="cl"></div>
                        <div id="slider-polish" class="Range"></div>
                        <ul class="color">
                            <li>Excellent</li>
                            <li>Very Good</li>
                            <li>Good</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>SYMMETRY</p>
                        <div class="cl"></div>
                        <div id="slider-symmetry" class="Range"></div>
                        <ul class="color">
                            <li>Excellent</li>
                            <li>Very Good</li>
                            <li>Good</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl">
                        <p>FLUORESCENCE</p>
                        <div class="cl"></div>
                        <div id="slider-flour" class="Range"></div>
                        <ul class="flour">
                            <li>None</li>
                            <li>Faint</li>
                            <li>Medium</li>
                            <li>Strong</li>
                        </ul>
                        <div class="cl"></div>
                    </div>
                </li>
                <li>
                    <div class="ui-widget-content-container fl divPrice">
                        <p>Price</p>
                        <div class="cl"></div>
                        <div id="slider-price" class="Range"></div>
                        <div>
                            <input type="text" id="price-min" class="inputxt fl" maxlength="7" />
                            <input type="text" id="price-max" class="inputxt fr" maxlength="7" />
                            <div class="cl"></div>
                        </div>
                        <div class="cl"></div>
                    </div>
                </li>
                <li class="largest-diamond">
                    <div class="check-box mob top">
                        <input type="checkbox" id="chkPrice" name="cc" />
                        <label for="chkPrice"><span></span></label>
                    </div>
                    <p>FIND ME THE LARGEST DIAMOND FOR:</p>
                    <div class="check-box mob">

                        <strong>$</strong> <input type="text" id="txtPrice" class="inputxt" maxlength="7" disabled="disabled" />
                        <div class="cl"></div>


                    </div>
                    <div class="strong-box check-box desk">

                    </div>
                </li>
            </ul>
            <div class="cl"></div>
            <a href="javascript:void(0)" onclick="FnSearchSubmit()" class="search-btn">Search</a>


        </div>
        <div class="cl"></div>
    </div>
    <!-- range box end -->
    <div class="cl"></div>
</div>
<a href="javascript:void();" class="show-btn"><span></span></a>
<!-- result section -->
<div class="result-section">
    <div class="result-contentbox">
        <!-- result box -->
        <div class="result-box">
            <p class="result-show" id="divTotalResults"></p>
            <!-- responsive table -->
            <div class="table-responsive r-table">
                <div id="divDiamonds">
                    @if (ViewBag.SearchResult != null)
                    {
                        @Html.Raw(ViewBag.SearchResult)
                    }
                </div>
                <!-- result navigation end -->
                <div id="divSelectedDiamonds"></div>
                @Html.Partial("_SaveSelection", new Canturi.Models.BusinessEntity.FrontEnd.SaveSelectonModels())
            </div>
            <!--responsive table end-->
            <div class="cl"></div>
        </div>
        <!-- result box end -->
        <div class="cl"></div>
    </div>
    <div class="cl"></div>
</div>
<!-- result section end -->
@section Styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/css/jquery.ui.slider.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/css/jquery.ui.theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FrontEnd/bootbox/bootstrap.min.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/bootstrap-datepicker/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/bootstrap-datepicker/bootstrap.css")" />
    <style type="text/css">
    </style>

}
@section ProgressBar{
    <div id="dvLoader" class="dvLoader">
        <div>
            <div class="circle">
                <span id="s_timer" class="timer"></span>
                <img src="@Url.Content("~/Content/FrontEnd/images/ajax-loder.gif")" alt="loader" class="ajax-loader" />
            </div>
            <p>WORLD DIAMOND SEARCH IN PROGRESS</p>
        </div>
    </div>
    <div id="dvLoader2" class="dvLoader">
        <div>
            <div class="circle">
                <span id="s_timer" class="timer"></span>
                <img src="@Url.Content("~/Content/FrontEnd/images/ajax-loder.gif")" alt="loader" class="ajax-loader" />
            </div>
            <p style="visibility:hidden;">WORLD DIAMOND SEARCH IN PROGRESS</p>
        </div>
    </div>
    <div class="black-overlay"></div>
}
@section CurrancyScripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //ddlCurrancy on change
            $("#ddlCurrancy").change(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FnChangeCurrancy", "Common")',
                    data: "selectedCurrancy=" + this.value,
                    cache: false,
                    success: function (data) {
                        if ($("#divDiamonds").html().trim() != '') {
                            FnSearchDiamond();
                            BindSelection('', '', '');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //alert(jqXHR.responseText);
                    }
                });
            });

        });

    </script>

}
@section scripts{

    <script src="@Url.Content("~/Content/FrontEnd/js/jquery.ui.core.js")"></script>
    <script src="@Url.Content("~/Content/FrontEnd/js/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Content/FrontEnd/js/jquery.ui.mouse.js")"></script>
    <script src="@Url.Content("~/Content/FrontEnd/js/jquery.ui.slider.js")"></script>
    <script src="@Url.Content("~/Content/FrontEnd/js/jquery.ui.touch-punch.min.js")"></script>

    <script src="@Url.Content("~/Content/FrontEnd/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/js/jquery.countdownTimer.js")"></script>*@
    <script type="text/javascript">
        var largestDiamondPercentage = '@ViewBag.LargestDiamondPercentage';
        $(window).load(function () {
           
            if ($("#hdnSearchClick").val() == 1) {

                var diamondShape = $("#hdnDiamondShape").val();
                var isClarity1 = false;
                if (diamondShape != 'Round') {
                    FnSliderCut(1, 4, true);
                }
                else {
                    FnSliderCut($("#hdnCutMin").val(), $("#hdnCutMax").val(), false);
                }


                if (diamondShape != 'Emerald') {

                    isClarity1 = false;
                }
                else {
                    isClarity1 = true;
                }

                if (!isClarity1) {
                    if (diamondShape != 'Asscher') {
                        isClarity1 = false;
                    }
                    else {
                        isClarity1 = true;
                    }
                }
                if ($("#hdnTmpIsFindLargestDiamond").val() == "0") {
                    FnSliderCarat($("#hdnCaratMin").val(), $("#hdnCaratMax").val(), false);
                    FnSliderPrice($("#hdnPriceMinVal").val(), $("#hdnPriceMaxVal").val(), false);
                }
                else {

                    var hdnMinimumCaratSize = $("#hdnMinimumCaratSize").val();
                    var hdnMaximumCaratSize = $("#hdnMaximumCaratSize").val();
                    FnSliderCarat(hdnMinimumCaratSize, hdnMaximumCaratSize, false);
                    FnSliderPrice(0, 132, true);
                }



                FnSliderColour($("#hdnColorMin").val(), $("#hdnColorMax").val());

                FnSliderPolish($("#hdnPolishMin").val(), $("#hdnPolishMax").val());
                FnSliderSymmetry($("#hdnSymmetryMin").val(), $("#hdnSymmetryMax").val());
                FnSliderFluorescence($("#hdnFlourscenceMin").val(), $("#hdnFlourscenceMax").val());




                if ($("#hdnClarityClick").val() == 1) {

                    $("#chkEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $(".chkMobEyeClean").removeAttr("disabled").removeAttr("checked", "");

                    if ($("#hdnIsEyeCleanClick").val() == "1") {
                        //$("#chkEyeClean").attr("checked", "checked");
                        $(".chkMobEyeClean").attr("checked", "checked");
                        $("#hdnIsEyeClean").val('true');
                        $("#hdnTmpIsEyeClean").val('true');
                    }



                    $(".chkClarity1").attr("checked", "checked");
                    $("#chkMobClarity1").attr("checked", "checked");
                    $(".chkClarity2").removeAttr("checked");

                    FnClaritySlider1($("#hdnClarityMin").val(), $("#hdnClarityMax").val(), false);

                }
                else {
                    //$(".chkClarity2").attr("checked", "checked");
                    //$("#chkMobClarity2").attr("checked", "checked");
                    $(".chkClarity2").click();
                    //$("#chkMobClarity2").click();
                    $(".chkClarity1").removeAttr("checked");
                    $("#chkMobClarity1").removeAttr("checked");

                    $("#slider-clarity").slider({ disabled: true });
                    $("#slider-clarity2").slider({ disabled: false });
                    $('.Range a:last-child').addClass('handle-2');
                    //$("#chkEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    $(".chkMobEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    //$("#chkEyeClean").attr("checked", "checked");
                    $(".chkMobEyeClean").attr("checked", "checked");

                    if (!isClarity1) {
                        FnClaritySlider1(1, 4, false);
                        FnClaritySlider2($("#hdnClarityMin2").val(), $("#hdnClarityMax2").val(), false);
                    }
                    else {

                        FnClaritySlider1(1, 4, true);
                        $(".chkClarity1").attr("disabled", "Disabled");
                        FnClaritySlider2($("#hdnClarityMin2").val(), $("#hdnClarityMax2").val(), false);
                    }

                }
                var hdnMinimumCaratSize = $("#hdnMinimumCaratSize").val();
                var hdnMaximumCaratSize = $("#hdnMaximumCaratSize").val();
                if ($("#chkPrice").is(':checked')) {
                    FnSliderPrice(0, 132, true);

                    FnSliderCarat('' + hdnMinimumCaratSize + '', '' + hdnMaximumCaratSize + '', true);
                    $("#txtPrice").removeAttr("disabled");
                    $("#hdnTmpIsFindLargestDiamond").val("1");
                }
                else {
                    $("#txtPrice").val("");
                    $("#txtPrice").attr("disabled", "disabled");
                    FnSliderCarat($("#hdnCaratMin").val(), $("#hdnCaratMax").val(), false);
                    FnSliderPrice($("#hdnPriceMinVal").val(), $("#hdnPriceMaxVal").val(), false);
                    $("#hdnTmpIsFindLargestDiamond").val("0");
                }

                SearchBackSelectDiamond("li" + $("#hdnDiamondShape").val());
                GetSearchData(document.getElementById("hdnCurrentPage").value, 1);
                BindSelection('', '', '');
            }

        });
        //$("#hdnSearchClick")

        $(document).ready(function () {
            $(".wrapper").bind("click touchstart mousedown touchend touchmove", function (e) {
                $(".listing-tab-box").hide();
            });


            $("#ddlSearchBy").change(function () {
                $("#txtSearchByLot").val("");
                $("#txtSearchByLot").focus();
                // $("#txtSearchByLot").removeAttr("disabled");
                // $("#txtSearchByLot").attr("placeholder", this.value.toUpperCase() + " #");
                $("#btnSearch").show();
                $("#hdnSearchBy").val(this.value);
                if (this.value == "code") {
                    //$("#txtSearchByLot").attr("disabled", "disabled");
                    $("#btnSearch").hide();
                }
            });

            $('#Date').datepicker({
                format: "dd/mm/yyyy"
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });

            $("#Date").keypress(function (evt) {
                return false;
            });
            $('#Date').bind("cut copy paste", function (e) {
                e.preventDefault();
            });


            $(".chkMobEyeClean").click(function () {
                if (this.checked) {
                    $("#hdnIsEyeCleanClick").val(1);

                }
                else {
                    $("#hdnIsEyeCleanClick").val(0);
                }
                $("#hdnIsEyeClean").val(this.checked);
                $("#hdnTmpIsEyeClean").val(this.checked);
            });

            $("#chkPrice").change(function () {

                var hdnMinimumCaratSize = $("#hdnMinimumCaratSize").val();
                var hdnMaximumCaratSize = $("#hdnMaximumCaratSize").val();
                if ($(this).is(":checked")) {
                    FnSliderPrice(0, 132, true);

                    FnSliderCarat('' + hdnMinimumCaratSize + '', '' + hdnMaximumCaratSize + '', true);
                    $("#txtPrice").removeAttr("disabled");
                    $("#hdnTmpIsFindLargestDiamond").val("1");
                    $("#txtPrice").focus();

                    $("#hdnSortOrder").val("desc");
                    $("#hdnSortByColumn").val("Carat");
                }
                else {
                    $("#txtPrice").val("");
                    $("#txtPrice").attr("disabled", "disabled");
                    FnSliderCarat('' + hdnMinimumCaratSize + '', '' + hdnMaximumCaratSize + '', false);
                    FnSliderPrice(0, 132, false);
                    $("#hdnTmpIsFindLargestDiamond").val("0");
                    $("#hdnSortOrder").val("asc");
                    $("#hdnSortByColumn").val("amount");
                }
            });

            $("#txtPrice").blur(function () {

                var value = parseInt($(this).val());
                if ((value % 100) != 0) {
                    sweetAlert("", "Please enter value in $100 increments only", "error");
                    $(this).val('');
                }
                else {
                    $("#hdnTmpPriceMin").val('0');

                    var val = value + ((value * parseFloat(largestDiamondPercentage)) / 100);
                    $("#hdnTmpPriceMax").val(val);

                    $("#hdnPriceMax").val(val);
                    //alert($("#hdnTmpPriceMax").val());
                }
            });
        });

        function GetSearchData(pgNo, status) {
            $(".black-overlay").show();
            $("#dvLoader2").show();
            document.getElementById("hdnCurrentPage").value = pgNo;
            document.getElementById("hdnTmpCurrentPage").value = pgNo;
            FnSearchDiamond();

        }

        function FnSearch() {
            if ($("#txtSearchByLot").val().trim().length != 0) {
                if ($("#ddlSearchBy").val() != "code") {
                    $(".result-box").hide();
                    $(".black-overlay").show();
                    $("#dvLoader").show();
                    document.getElementById("hdnTmpSearchKeyWord").value = document.getElementById("txtSearchByLot").value;
                    document.getElementById("hdnSearchKeyWord").value = document.getElementById("hdnTmpSearchKeyWord").value;
                    //FnClearSelectedDiamonds();
                    $("#divSaveSelecton").hide();
                    $("#divSaveSelecton").hide();
                    document.getElementById("hdnCurrentPage").value = "1";
                    document.getElementById("hdnTmpCurrentPage").value = "1";
                    FnSearchDiamond();
                    setTimeout(function () {
                        $(".result-box").show();
                        $(".black-overlay").hide();
                        $("#dvLoader").hide();
                    }, 100);
                }
            }
            else {
                if ($("#ddlSearchBy").val() != "code") {
                    sweetAlert("", "Please enter " + $("#ddlSearchBy").val() + " number...!", "error");
                }
            }
            return false;
        }

        function FnSearchSubmit() {



            if (!$(".chkClarity1").is(':checked') && !$(".chkClarity2").is(':checked')) {
                sweetAlert("", "Please select clarity...!", "error");
                return false;
            }
            if ($("#chkPrice").is(':checked')) {
                if ($("#txtPrice").val() == "") {
                    sweetAlert("", "Please enter value in $100 increments only", "error");
                    return false;
                }
                else {
                    $("#hdnSortOrder").val("desc");
                    $("#hdnSortByColumn").val("Carat");
                }
            }
            else {
                var hdnMinimumCaratSize = document.getElementById("hdnMinimumCaratSize").value;
                var hdnMaximumCaratSize = document.getElementById("hdnMaximumCaratSize").value;
                var caratMin = document.getElementById("hdnTmpCaratMin").value;
                var caratMax = document.getElementById("hdnTmpCaratMax").value;
                if (parseFloat(hdnMinimumCaratSize) > parseFloat(caratMin)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    return false;
                }
                if (parseFloat(hdnMaximumCaratSize) < parseFloat(caratMax)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    return false;
                }
                $("#hdnSortOrder").val("asc");
                $("#hdnSortByColumn").val("amount");

            }




            $("#hdnSearchClick").val("1");

            //clear all previous selected diamonds
            //FnClearSelectedDiamonds();

            document.getElementById("hdnDiamondShape").value = document.getElementById("hdnTmpDiamondShape").value;
            document.getElementById("hdnCaratMin").value = document.getElementById("hdnTmpCaratMin").value;
            document.getElementById("hdnCaratMax").value = document.getElementById("hdnTmpCaratMax").value;
            document.getElementById("hdnCutMin").value = document.getElementById("hdnTmpCutMin").value;
            document.getElementById("hdnCutMax").value = document.getElementById("hdnTmpCutMax").value;
            document.getElementById("hdnFlourscenceMin").value = document.getElementById("hdnTmpFlourscenceMin").value;
            document.getElementById("hdnFlourscenceMax").value = document.getElementById("hdnTmpFlourscenceMax").value;
            document.getElementById("hdnClarityMin").value = document.getElementById("hdnTmpClarityMin").value;
            document.getElementById("hdnClarityMax").value = document.getElementById("hdnTmpClarityMax").value;
            document.getElementById("hdnClarityMin2").value = document.getElementById("hdnTmpClarityMin2").value;
            document.getElementById("hdnClarityMax2").value = document.getElementById("hdnTmpClarityMax2").value;
            document.getElementById("hdnPolishMin").value = document.getElementById("hdnTmpPolishMin").value;
            document.getElementById("hdnPolishMax").value = document.getElementById("hdnTmpPolishMax").value;
            document.getElementById("hdnPriceMin").value = document.getElementById("hdnTmpPriceMin").value;
            document.getElementById("hdnPriceMax").value = document.getElementById("hdnTmpPriceMax").value;
            document.getElementById("hdnColorMin").value = document.getElementById("hdnTmpColorMin").value;
            document.getElementById("hdnColorMax").value = document.getElementById("hdnTmpColorMax").value;
            document.getElementById("hdnSymmetryMin").value = document.getElementById("hdnTmpSymmetryMin").value;
            document.getElementById("hdnSymmetryMax").value = document.getElementById("hdnTmpSymmetryMax").value;
            document.getElementById("hdnCurrentPage").value = document.getElementById("hdnTmpCurrentPage").value;
            document.getElementById("hdnSearchKeyWord").value = document.getElementById("hdnTmpSearchKeyWord").value;
            document.getElementById("hdnIsEyeClean").value = document.getElementById("hdnTmpIsEyeClean").value;




            $("#divSaveSelecton").hide();
            document.getElementById("hdnTmpSearchKeyWord").value = document.getElementById("txtSearchByLot").value;
            document.getElementById("hdnSearchKeyWord").value = document.getElementById("txtSearchByLot").value;
            //alert(document.getElementById("txtSearchByLot").value);
            if ($("#ddlSearchBy").val() != "code") {
                document.getElementById("txtSearchByLot").value = '';
                document.getElementById("hdnSearchKeyWord").value = '';
                document.getElementById("hdnTmpSearchKeyWord").value = '';
            }

            //Code updated on 25/2/2016 to check which clarity slider value we should pass


            if ($("#slider-clarity").attr("aria-disabled") != "true" && $("#slider-clarity2").attr("aria-disabled") != "true") {
                //console.log('both are enabled');
                var clarityMin = document.getElementById("hdnClarityMin").value;
                var clarityMax = document.getElementById("hdnClarityMax2").value;
                document.getElementById("hdnClarityMin").value = clarityMin;
                document.getElementById("hdnClarityMax").value = clarityMax;
            }
            else if ($("#slider-clarity").attr("aria-disabled") != "true" && $("#slider-clarity2").attr("aria-disabled") == "true") {
                //console.log('clarity1 is enabled');
                var clarityMin = document.getElementById("hdnClarityMin").value;
                var clarityMax = document.getElementById("hdnClarityMax").value;
                document.getElementById("hdnClarityMin").value = clarityMin;
                document.getElementById("hdnClarityMax").value = clarityMax;
            }
            else if ($("#slider-clarity").attr("aria-disabled") == "true" && $("#slider-clarity2").attr("aria-disabled") != "true") {
                //console.log('clarity2 is enabled');
                var clarityMin = document.getElementById("hdnClarityMin2").value;
                var clarityMax = document.getElementById("hdnClarityMax2").value;
                document.getElementById("hdnClarityMin").value = clarityMin;
                document.getElementById("hdnClarityMax").value = clarityMax;
            }
            document.getElementById("hdnCurrentPage").value = "1";
            document.getElementById("hdnTmpCurrentPage").value = "1";
            var CleanEye = document.getElementById("hdnIsEyeClean").value;
            //alert(CleanEye);
            //alert(CleanEye);
            //need to put logic temp and search varibales

            if (CleanEye != "true") {
                swal({
                    title: "Are you sure",
                    text: "you want to search for diamonds that are not eye clean?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    closeOnConfirm: true
                }, function () {
                    $(".result-box").hide();
                    $(".black-overlay").show();
                    $("#dvLoader").show();
                    FnSearchDiamond();
                });
            }
            else {
                $(".result-box").hide();
                $(".black-overlay").show();
                $("#dvLoader").show();
                FnSearchDiamond();
            }
        }

        function FnSearchDiamond() {
            var diamondShape = document.getElementById("hdnDiamondShape").value;
            var caratMin = document.getElementById("hdnCaratMin").value;
            var caratMax = document.getElementById("hdnCaratMax").value;
            var cutMin = document.getElementById("hdnCutMin").value;
            var cutMax = document.getElementById("hdnCutMax").value;
            var flourscenceMin = document.getElementById("hdnFlourscenceMin").value;
            var flourscenceMax = document.getElementById("hdnFlourscenceMax").value;

            var clarityMin = document.getElementById("hdnClarityMin").value;
            var clarityMax = document.getElementById("hdnClarityMax").value;

            var polishMin = document.getElementById("hdnPolishMin").value;
            var polishMax = document.getElementById("hdnPolishMax").value;

            var priceMin = document.getElementById("hdnPriceMin").value;
            var priceMax = document.getElementById("hdnPriceMax").value;

            var colorMin = document.getElementById("hdnColorMin").value;
            var colorMax = document.getElementById("hdnColorMax").value;
            var symmetryMin = document.getElementById("hdnSymmetryMin").value;
            var symmetryMax = document.getElementById("hdnSymmetryMax").value;
            var currentPage = document.getElementById("hdnCurrentPage").value;
            var searchKeyWord = document.getElementById("hdnSearchKeyWord").value;
            var eyeClean = document.getElementById("hdnIsEyeClean").value;
            var largePrice = document.getElementById("txtPrice").value;
            var sortOrder = document.getElementById("hdnSortOrder").value;
            var sortByColumn = document.getElementById("hdnSortByColumn").value;
            var searchBy = document.getElementById("hdnSearchBy").value;
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetDiamondSearch", "DiamondSearch")",
                //data: '{"diamondShape":"' + diamondShape + '","caratMin":"' + caratMin + '","caratMax":"' + caratMax + '","cutMin":"' + cutMin + '","cutMax":"' + cutMax + '","flourscenceMin":"' + flourscenceMin + '","flourscenceMax":"' + flourscenceMax + '","clarityMin":"' + clarityMin + '","clarityMax":"' + clarityMax + '","polishMin":"' + polishMin + '","polishMax":"' + polishMax + '","priceMin":"' + priceMin + '","priceMax":"' + priceMax + '","colorMin":"' + colorMin + '","colorMax":"' + colorMax + '","symmetryMin":"' + symmetryMin + '","symmetryMax":"' + symmetryMax + '","searchKeyWord":"' + searchKeyWord + '","eyeClean":"' + eyeClean + '","pgNo":"' + currentPage + '","largePrice":"' + largePrice + '"}',
                //data: '{"diamondShape":"' + diamondShape + '","caratMin":"' + caratMin + '","caratMax":"' + caratMax + '","cutMin":"' + cutMin + '","cutMax":"' + cutMax + '","flourscenceMin":"' + flourscenceMin + '","flourscenceMax":"' + flourscenceMax + '","clarityMin":"' + clarityMin + '","clarityMax":"' + clarityMax + '","polishMin":"' + polishMin + '","polishMax":"' + polishMax + '","priceMin":"' + priceMin + '","priceMax":"' + priceMax + '","colorMin":"' + colorMin + '","colorMax":"' + colorMax + '","symmetryMin":"' + symmetryMin + '","symmetryMax":"' + symmetryMax + '","searchKeyWord":"' + searchKeyWord + '","eyeClean":"' + eyeClean + '","pgNo":"' + currentPage + '","largePrice":"' + largePrice + '","sortOrder":"' + sortOrder + '","sortByColumn":"' + sortByColumn + '"}',
                data: '{"diamondShape":"' + diamondShape + '","caratMin":"' + caratMin + '","caratMax":"' + caratMax + '","cutMin":"' + cutMin + '","cutMax":"' + cutMax + '","flourscenceMin":"' + flourscenceMin + '","flourscenceMax":"' + flourscenceMax + '","clarityMin":"' + clarityMin + '","clarityMax":"' + clarityMax + '","polishMin":"' + polishMin + '","polishMax":"' + polishMax + '","priceMin":"' + priceMin + '","priceMax":"' + priceMax + '","colorMin":"' + colorMin + '","colorMax":"' + colorMax + '","symmetryMin":"' + symmetryMin + '","symmetryMax":"' + symmetryMax + '","searchKeyWord":"' + searchKeyWord + '","searchBy":"' + searchBy + '","eyeClean":"' + eyeClean + '","pgNo":"' + currentPage + '","largePrice":"' + largePrice + '","sortOrder":"' + sortOrder + '","sortByColumn":"' + sortByColumn + '"}',

                contentType: "application/json; charset=utf-8",
                //timeout: 500000, //timeout 5 sec
                async: true,
                dataType: "json",
                processdata: true,
                success: function (result) {
                    $("#divDiamonds").html(result.data);
                    $("#divTotalResults").html("Results  : <strong><span>" + result.totalRecords + "</span>  Diamonds</strong>");
                    $(".black-overlay").hide();
                    $(".dvLoader").hide();
                    $("#dvLoader").hide();
                    $("#dvLoader2").hide();
                    $(".result-box").show();

                },
                always: function (result) {
                    $(".black-overlay").hide();
                    $(".dvLoader").hide();
                    $("#dvLoader").hide();
                    $("#dvLoader2").hide();
                    $(".result-box").show();


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //sweetAlert("", thrownError, "error");
                }
            });

        }

        function BindSelection(contorlId, dimondNumber, type) {
            var isChecked = false;
            try {
                isChecked = document.getElementById(contorlId).checked;
            }
            catch (err) {
                //document.getElementById("demo").innerHTML = err.message;
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetDiamondBySelection", "DiamondSearch")",
                data: '{"dimondNumber":"' + dimondNumber + '","type":"' + type + '","isChecked":"' + isChecked + '"}',
                contentType: "application/json; charset=utf-8",
                //timeout: 500000, //timeout 5 sec
                async: true,
                dataType: "json",
                processdata: true,
                success: function (result) {
                    $("#divSelectedDiamonds").html(result.data);

                    $("#linkRequestOrder").click(function () {
                        FnCheckDiamondSelection('order');
                    });

                    $("#linkRequestAvailability").click(function () {
                        FnCheckDiamondSelection('request');
                    });

                    $("#linkPrintSelection").click(function () {
                        var selected = [];
                        var count = 0;
                        $('#divSelectedDiamonds input:checked').each(function () {
                            selected.push($(this).attr('id'));
                            count++;
                        });

                        if (count == 0) {
                            sweetAlert("", "Please select diamonds to print...!", "error");
                        }
                        else {

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("GetDiamondsForPrint", "DiamondSearch")",
                                contentType: "application/json; charset=utf-8",
                                async: true,
                                dataType: "json",
                                processdata: true,
                                success: function (result) {
                                    var divContents = result.data;
                                    var printWindow = window.open('', '', 'height=400,width=800');

                                    //alert(divContents);
                                    printWindow.document.write(divContents);
                                    printWindow.document.close();
                                    printWindow.print();
                                }
                            });
                        }
                    });

                    $("#linkSaveSelection").click(function () {
                        var selected = [];
                        var count = 0;
                        $('#divSelectedDiamonds input:checked').each(function () {
                            selected.push($(this).attr('id'));
                            count++;
                        });

                        if (count == 0) {
                            sweetAlert("", "Please select diamonds to email...!", "error");
                        }
                        else {
                            $("#divSaveSelecton").toggle();
                            $('html, body').animate({
                                scrollTop: $("#divSaveSelecton").offset().top
                            }, 2000);
                            //$("#Date").datepicker();
                        }

                    });

                    $("#linkClearSelection").click(function () {

                        //need to write code for clear selection


                        if ($("#hdnIsDiamondSave").val() == "0") {
                            swal({
                                title: '',
                                text: 'Would you like to save the selected diamonds?',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes',
                                cancelButtonText: 'No',
                                confirmButtonClass: 'confirm-class',
                                cancelButtonClass: 'cancel-class',
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    $(".sweet-overlay").hide();
                                    $(".sweet-alert").hide();
                                    $("#linkSaveSelection").click();
                                }
                                else {
                                    $("#ClientName").val("");
                                    $("#Phone").val("");
                                    $("#Date").val("");
                                    $("#divSaveSelecton").hide();
                                    $(".sweet-overlay").hide();
                                    $(".sweet-alert").hide();
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("ClearDiamondSelection", "DiamondSearch")",
                                        contentType: "application/json; charset=utf-8",
                                        async: true,
                                        dataType: "json",
                                        processdata: true,
                                        success: function (result) {
                                            $("#divSelectedDiamonds").html('');
                                            $('#divDiamonds').find('input[type=checkbox]:checked').removeAttr('checked');
                                            sweetAlert("", "Diamond selection has been cleared...!", "success");
                                        }
                                    });

                                }
                            });
                        }
                        else {
                            swal({
                                title: "Are you sure",
                                text: "you want to clear selected diamonds?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: 'Yes',
                                cancelButtonText: 'No',
                                closeOnConfirm: false
                            }, function () {
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("ClearDiamondSelection", "DiamondSearch")",
                                    contentType: "application/json; charset=utf-8",
                                    async: true,
                                    dataType: "json",
                                    processdata: true,
                                    success: function (result) {
                                        $("#divSelectedDiamonds").html('');
                                        $('#divDiamonds').find('input[type=checkbox]:checked').removeAttr('checked');
                                        sweetAlert("", "Diamond selection has been cleared...!", "success");
                                    }
                                });
                            });
                        }
                    });


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //sweetAlert("", thrownError, "error");
                }
            })
        }

        function FnClearSelectedDiamonds() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearDiamondSelection", "DiamondSearch")",
                contentType: "application/json; charset=utf-8",
                async: true,
                dataType: "json",
                processdata: true,
                success: function (result) {
                    $("#divSelectedDiamonds").html('');
                    $('#divDiamonds').find('input[type=checkbox]:checked').removeAttr('checked');
                }
            });
        }


        function FnCheckDiamondSelection(opt) {
            var ret = false;
            var selected = [];
            var count = 0;
            var selectedId = '';
            $('#divSelectedDiamonds input:checked').each(function () {
                selected.push($(this).attr('id'));
                selectedId = $(this).attr('id');
                count++;
            });
            if (count == 1) {
                var selectedDiamond = $("#" + selectedId).attr("onclick");
                selectedDiamond = selectedDiamond.replace('FnSelecedDiamond(', '').replace(')', '');
                selectedDiamond = selectedDiamond.split(',');

                var diamondId = selectedDiamond[1].replace("'", "").replace("'", "");
                var type = selectedDiamond[2].replace("'", "").replace("'", "").toLowerCase();
                if (type == "rapnet") {
                    type = "1";
                }
                else if (type == "jbbros") {
                    type = "2";
                }
                else if (type == "venus") {
                    type = "3";
                }
                else if (type == "canturi") {
                    type = "4";
                }
                else if (type == "ydvash") {
                    type = "5";
                }
                else if (type == "harikrishna") {
                    type = "6";
                }
                else if (type == "finestar") {
                    type = "7";
                }
                else if (type == "cdinesh") {
                    type = "8";
                }
                else {
                    type = "4";
                }

                var msg = "<span style=\"font: normal 23px/26px 'robotolight';color: #000;\">CONGRATULATIONS<br> on your diamond selection.<br><br>All diamonds are listed on the global market and are subject to availability and <br> clarity confirmation.<br><br> Your selection will be confirmed within 1 business day.</span>";

                if (opt == "order") {
                    //$(".sweet-alert").attr("style", "width: 55%");
                    swal({
                        title: "",
                        text: msg,
                        //timer: 10000,
                        html: true,
                        confirmButtonText: "CONTINUE",
                        showConfirmButton: true,
                        customWidth: '766px',
                        customePadding: '10px 87px'
                    },
                    function () {
                        window.location = '@Url.Content("~/Diamond/")' + type + '/' + diamondId + '?r=' + opt;
                    });
                }
                else {
                    window.location = '@Url.Content("~/Diamond/")' + type + '/' + diamondId + '?r=' + opt;
                }

            }
            else {
                if (count == 0) {
                    sweetAlert("", "Please select one diamond", "error");
                }
                else {
                    sweetAlert("", "Please select only one diamond", "error");
                }
            }
            return ret;
        }

        function FnSelecedDiamond(contorlId, dimondNumber, type) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveDiamondSelection", "DiamondSearch")",
                data: '{"dimondNumber":"' + dimondNumber + '","type":"' + type + '","isChecked":"' + document.getElementById(contorlId).checked + '"}',
                contentType: "application/json; charset=utf-8",
                //timeout: 500000, //timeout 5 sec
                async: true,
                dataType: "json",
                processdata: true,
                success: function (result) {

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //sweetAlert("", "Please select only one diamond", "error");
                    //alert(thrownError);
                }
            })
        }

        function FnSliderCarat(minVal, maxVal, isDisabled) {
            var caratMin = $("#hdnMinimumCaratSize").val();
            var caratMax = $("#hdnMaximumCaratSize").val();
            $("#slider-carat").slider({
                disabled: isDisabled,
                range: true,
                min: parseFloat(caratMin),
                max: parseFloat(caratMax),
                step: .01,
                values: [minVal, maxVal],
                stop: function (event, ui) {
                    document.getElementById("hdnTmpCaratMin").value = ui.values[0];
                    document.getElementById("hdnTmpCaratMax").value = ui.values[1];

                },

                slide: function (event, ui) {
                    $("#carat-min").val(ui.values[0]);
                    $("#carat-max").val(ui.values[1]);
                }
            });
            $("#carat-min").val($("#slider-carat").slider("values", 0));
            $("#carat-max").val($("#slider-carat").slider("values", 1));
            //$("#carat-min").attr("readonly", "readonly");
            //$("#carat-max").attr("readonly", "readonly");
            $('.Range a:last-child').addClass('handle-2');
            if (isDisabled) {
                $("#carat-min").attr("disabled", "disabled");
                $("#carat-max").attr("disabled", "disabled");
            }
            else {
                $("#carat-min").removeAttr("disabled");
                $("#carat-max").removeAttr("disabled");
            }
        }

        function FnSliderPrice(minVal, maxVal, isDisabled) {
            var realvalues = [0, 100, 200, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000, 105000, 110000, 115000, 120000, 125000, 130000, 135000, 140000, 145000, 150000, 155000, 160000, 165000, 170000, 175000, 180000, 185000, 190000, 195000, 200000, 205000, 210000, 215000, 220000, 225000, 230000, 235000, 240000, 245000, 250000, 255000, 260000, 265000, 270000, 275000, 280000, 285000, 290000, 295000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000, 5000000, 5500000, 6000000, 6500000, 7000000, 7500000, 8000000, 8500000, 9000000, 9500000, 9999999];

            $("#slider-price").slider({
                disabled: isDisabled,
                range: true,
                min: 0,
                max: 132,
                values: [minVal, maxVal],
                stop: function (event, ui) {
                    document.getElementById("hdnTmpPriceMin").value = realvalues[ui.values[0]];
                    document.getElementById("hdnTmpPriceMax").value = realvalues[ui.values[1]];

                    document.getElementById("hdnPriceMinVal").value = ui.values[0];
                    document.getElementById("hdnPriceMaxVal").value = ui.values[1];
                },
                slide: function (event, ui) {
                    $("#price-min").val(realvalues[ui.values[0]]);
                    $("#price-max").val(realvalues[ui.values[1]]);

                }
            });
            $("#price-min").val(realvalues[minVal]);
            $("#price-max").val(realvalues[maxVal]);
            //$("#price-min").attr("readonly", "readonly");
            //$("#price-max").attr("readonly", "readonly");

            $('.Range a:last-child').addClass('handle-2');
            if (isDisabled) {
                $("#price-min").attr("disabled", "disabled");
                $("#price-max").attr("disabled", "disabled");
            }
            else {
                $("#price-min").removeAttr("disabled");
                $("#price-max").removeAttr("disabled");
            }
        }

        function FnSliderColour(minVal, maxVal) {
            $("#slider-colour").slider({
                range: true,
                min: 1,
                max: 8,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpColorMin").value = ui.values[0];
                    document.getElementById("hdnTmpColorMax").value = ui.values[1];
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }
            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnSliderCut(minVal, maxVal, isDisabled) {
            $("#slider-cut").slider({
                disabled: isDisabled,
                range: true,
                min: 1,
                max: 4,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpCutMin").value = ui.values[0];
                    document.getElementById("hdnTmpCutMax").value = ui.values[1];
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }

            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnSliderPolish(minVal, maxVal) {
            $("#slider-polish").slider({
                range: true,
                min: 1,
                max: 4,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpPolishMin").value = ui.values[0];
                    document.getElementById("hdnTmpPolishMax").value = ui.values[1];
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }

            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnSliderSymmetry(minVal, maxVal) {
            $("#slider-symmetry").slider({
                range: true,
                min: 1,
                max: 4,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpSymmetryMin").value = ui.values[0];
                    document.getElementById("hdnTmpSymmetryMax").value = ui.values[1];
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }

            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnSliderFluorescence(minVal, maxVal) {
            $("#slider-flour").slider({
                range: true,
                min: 1,
                max: 5,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpFlourscenceMin").value = ui.values[0];
                    document.getElementById("hdnTmpFlourscenceMax").value = ui.values[1];
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }
            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnClaritySlider1(minVal, maxVal, isDisabled) {
            $("#slider-clarity").slider({
                disabled: isDisabled,
                range: true,
                min: 1,
                max: 4,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpClarityMin").value = ui.values[0];
                    document.getElementById("hdnTmpClarityMax").value = ui.values[1];
                },
                stop: function (event, ui) {
                    if (!$(".chkClarity1").is(':checked')) {
                        $(".chkClarity1").attr("checked", "checked");
                        $(".chkClarity1").click();
                        $(".chkClarity1").attr("checked", "checked");

                    }
                    if (!$("#chkMobClarity1").is(':checked')) {
                        $("#chkMobClarity1").attr("checked", "checked");
                        $("#chkMobClarity1").click();
                        $("#chkMobClarity1").attr("checked", "checked");
                    }
                    FnClaritySlider2(5, 10, true);
                },
                slide: function (event, ui) {
                    if (ui.values[0] == 1) {
                        if (ui.handle.nextSibling) {
                        } else {
                            return false;
                            // Moving RIGHT slider ...
                        }
                    }
                    else if (ui.values[0] == 2 && ui.values[1] == 3) {
                        return false;
                    }
                    else {
                        if ((ui.values[0]) >= ui.values[1]) {

                            return false;
                        }

                    }
                    $("#slider-clarity2").attr("style", "opacity:1");
                }

            });
            $('.Range a:last-child').addClass('handle-2');
        }

        function FnClaritySlider2(minVal, maxVal, isDisabled) {
            $("#slider-clarity2").slider({
                disabled: isDisabled,
                range: true,
                min: 5,
                max: 10,
                step: 1,
                values: [minVal, maxVal],
                change: function (event, ui) {
                    document.getElementById("hdnTmpClarityMin2").value = ui.values[0];
                    document.getElementById("hdnTmpClarityMax2").value = ui.values[1];
                },
                stop: function (event, ui) {
                    if (!$(".chkClarity2").is(':checked')) {
                        //$(".chkClarity2").attr("checked", "checked");
                        $(".chkClarity2").click();
                        $(".chkClarity2").attr("checked", "checked");
                    }
                    //if (!$("#chkMobClarity2").is(':checked')) {

                    //    $("#chkMobClarity2").attr("checked", "checked");
                    //    $("#chkMobClarity2").click();
                    //    $("#chkMobClarity2").attr("checked", "checked");
                    //}
                    FnClaritySlider1(1, 4, true);
                },
                slide: function (event, ui) {
                    if ((ui.values[0]) >= ui.values[1]) {
                        return false;
                    }
                }

            });
            $('.Range a:last-child').addClass('handle-2');
        }


        //--------------------------carat slider--------------------------
        $(function () {
            DefaultSetting();
        });

        function DefaultSetting() {
            var hdnMinimumCaratSize = $("#hdnMinimumCaratSize").val();
            var hdnMaximumCaratSize = $("#hdnMaximumCaratSize").val();


            FnSliderCarat(hdnMinimumCaratSize, hdnMaximumCaratSize, false);
            FnSliderPrice(0, 132, false);
            FnSliderColour(1, 8);
            FnSliderCut(1, 3, false);
            FnSliderPolish(1, 3);
            FnSliderSymmetry(1, 3);
            FnSliderFluorescence(1, 4);

            FnClaritySlider1(1, 4, false);

            FnClaritySlider2(5, 10, false);


            $("#hdnTmpPriceMin").val("0");
            $("#hdnTmpPriceMax").val("9999999");
            //$("#hdnPriceMinVal").val("0");
            //$("#hdnPriceMaxVal").val("9999999");


            $("#hdnTmpCaratMin").val(hdnMinimumCaratSize);
            $("#hdnTmpCaratMax").val(hdnMaximumCaratSize);


            $("#hdnTmpColorMin").val("1");
            $("#hdnTmpColorMax").val("8");

            $("#hdnTmpCutMin").val("1");
            $("#hdnTmpCutMax").val("3");

            $("#hdnTmpPolishMin").val("1");
            $("#hdnTmpPolishMax").val("3");

            $("#hdnTmpSymmetryMin").val("1");
            $("#hdnTmpSymmetryMax").val("3");

            $("#hdnTmpFlourscenceMin").val("1");
            $("#hdnTmpFlourscenceMax").val("4");
            //$("#txtPrice").val("");
            //$("#txtPrice").attr("disabled", "disabled");
            //$("#chkPrice").removeAttr("checked");
            $("#hdnTmpIsFindLargestDiamond").val("0");
        }

        $(function () {
            $('.show-btn').click(function () {
                $('.mob-view').slideToggle();
                $(this).toggleClass('back'); return false;
            })
        });

        function SearchBackSelectDiamond(objCheck) {
            $('#shapediv ul li').each(function () {
                if ($('#liMultiSelect').attr('class') != "active") {
                    if ($(this).attr('id') != "liMultiSelect") {
                        if ($(this).attr('class') == "active") {
                            $(this).removeClass();
                        }
                    }
                }
            });
            if (document.getElementById(objCheck).className == "") {
                document.getElementById(objCheck).className += "active";
            }
            else {
                document.getElementById(objCheck).className = "";
            }

            var selected = new Array();
            $('#shapediv ul li').each(function () {
                if ($(this).attr('class') == "active") {
                    if ($(this).attr('id') != "liMultiSelect") {
                        selected.push("'" + $(this).attr('title') + "'");
                    }
                }
            });
            /*
            var selected = new Array();
            $('#shapediv ul li').each(function () {
                if ($('#liMultiSelect').attr('class') != "active") {
                    if ($(this).attr('id') != "liMultiSelect") {
                        if ($(this).attr('class') == "active") {
                            $(this).removeClass();
                        }
                    }
                }
            });
            */
            //RefreshInternetExplorerData('S');
            document.getElementById("hdnTmpDiamondShape").value = "";
            document.getElementById("hdnTmpDiamondShape").value = selected;
        }


        function DiamondSearch(objCheck) {
            DefaultSetting();
            $("#hdnTmpIsFindLargestDiamond").val("0");
            $("#hdnSortOrder").val("asc");
            $("#hdnSortByColumn").val("amount");
            $("#txtPrice").val("");
            $("#txtPrice").attr("disabled", "disabled");
            $("#chkPrice").removeAttr("checked");
            $('#shapediv ul li').each(function () {
                if ($('#liMultiSelect').attr('class') != "active") {
                    if ($(this).attr('id') != "liMultiSelect") {
                        if ($(this).attr('class') == "active") {
                            $(this).removeClass();
                        }
                    }
                }
            });
            if (document.getElementById(objCheck).className == "") {
                document.getElementById(objCheck).className += "active";
            }
            else {
                document.getElementById(objCheck).className = "";
            }



            var selected = new Array();
            $('#shapediv ul li').each(function () {
                if ($(this).attr('class') == "active") {
                    if ($(this).attr('id') != "liMultiSelect") {
                        selected.push("'" + $(this).attr('title') + "'");
                    }
                }
            });

            //RefreshInternetExplorerData('S');
            document.getElementById("hdnTmpDiamondShape").value = "";
            document.getElementById("hdnTmpDiamondShape").value = selected;

            //alert(document.getElementById("hdnTmpDiamondShape").value);

            if (objCheck != 'liRound') {
                FnSliderCut(1, 4, true);
            }
            else {
                FnSliderCut(1, 3, false);
            }

            $("#hdnTmpIsEyeClean").val("false");
            $("#hdnIsEyeClean").val("false");

            var isClarity1 = false;
            if ($('#liMultiSelect').attr('class') != "active") {
                if (objCheck != 'liEmerald') {
                    $(".chkClarity1").removeAttr("disabled");
                    $(".chkClarity2").removeAttr("disabled");
                    $(".chkClarity2").removeAttr("checked");
                    $(".chkMobEyeClean").removeAttr("disabled");
                    $(".chkMobEyeClean").removeAttr("checked");

                    isClarity1 = false;
                }
                else {
                    $(".chkClarity1").removeAttr("checked");
                    $(".chkClarity1").attr("disabled", "Disabled");
                    $(".chkClarity2").attr("checked", "checked");
                    $(".chkClarity2").attr("disabled", "Disabled");

                    $(".chkMobEyeClean").attr("checked", "checked");
                    $(".chkMobEyeClean").attr("disabled", "Disabled");
                    $("#hdnTmpIsEyeClean").val("true");
                    $("#hdnIsEyeClean").val("true");
                    isClarity1 = true;
                }

                if (!isClarity1) {
                    if (objCheck != 'liAsscher') {
                        $(".chkClarity1").removeAttr("disabled");
                        $(".chkClarity2").removeAttr("disabled");
                        $(".chkClarity2").removeAttr("checked");

                        isClarity1 = false;
                    }
                    else {
                        $(".chkClarity1").removeAttr("checked");
                        $(".chkClarity1").attr("disabled", "Disabled");
                        $(".chkClarity2").attr("checked", "checked");
                        $(".chkClarity2").attr("disabled", "Disabled");

                        $(".chkMobEyeClean").attr("checked", "checked");
                        $(".chkMobEyeClean").attr("disabled", "Disabled");
                        $("#hdnTmpIsEyeClean").val("true");
                        $("#hdnIsEyeClean").val("true");
                        isClarity1 = true;
                    }
                }

                if (!isClarity1) {
                    $(".chkClarity1").removeAttr("checked");
                    FnClaritySlider1(1, 4, false);
                }
                else {
                    FnClaritySlider1(1, 4, true);
                    FnClaritySlider2(5, 10, false);
                }
            }
            //var hdnMinimumCaratSize = $("#hdnMinimumCaratSize").val();
            //var hdnMaximumCaratSize = $("#hdnMaximumCaratSize").val();
            //FnSliderCarat(hdnMinimumCaratSize, hdnMaximumCaratSize, false);


        }

        function ResetPriceValue(id) {
            var w = "";
            var t = document.getElementById(id);
            var v = "0123456789";
            for (i = 0; i < t.value.length; i++) {
                x = t.value.charAt(i);
                if (v.indexOf(x, 0) != -1)
                    w += x;
            }
            t.value = w;

        }

        function ResetCaratValue(id) {
            var w = "";
            var t = document.getElementById(id);
            var v1 = ".0123456789";
            for (i = 0; i < t.value.length; i++) {
                x = t.value.charAt(i);
                if (v1.indexOf(x, 0) != -1)
                    w += x;
            }
            t.value = w;

        }

        $(document).ready(function () {
            $('#price-min').live("keyup", function (e) {
                ResetPriceValue('price-min');
                var realvalues = [0, 100, 200, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000, 105000, 110000, 115000, 120000, 125000, 130000, 135000, 140000, 145000, 150000, 155000, 160000, 165000, 170000, 175000, 180000, 185000, 190000, 195000, 200000, 205000, 210000, 215000, 220000, 225000, 230000, 235000, 240000, 245000, 250000, 255000, 260000, 265000, 270000, 275000, 280000, 285000, 290000, 295000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000, 5000000, 5500000, 6000000, 6500000, 7000000, 7500000, 8000000, 8500000, 9000000, 9500000, 9999999];

                var $slider = $("#slider-price");
                for (index in realvalues) {
                    if ($("#price-min").val() <= realvalues[index]) {
                        //alert(realvalues[index]);
                        if (parseInt($("#price-max").val()) >= parseInt($("#price-min").val())) {
                            $slider.slider("values", 0, index);
                            $("#hdnTmpPriceMin").val($("#price-min").val());
                            $("#hdnPriceMinVal").val(index);
                        }
                        break;
                    }
                }

            });

            $('#price-max').live("keyup", function (e) {
                ResetPriceValue('price-max');
                var realvalues = [0, 100, 200, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000, 105000, 110000, 115000, 120000, 125000, 130000, 135000, 140000, 145000, 150000, 155000, 160000, 165000, 170000, 175000, 180000, 185000, 190000, 195000, 200000, 205000, 210000, 215000, 220000, 225000, 230000, 235000, 240000, 245000, 250000, 255000, 260000, 265000, 270000, 275000, 280000, 285000, 290000, 295000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000, 5000000, 5500000, 6000000, 6500000, 7000000, 7500000, 8000000, 8500000, 9000000, 9500000, 9999999];

                var $slider = $("#slider-price");
                for (index in realvalues) {
                    if ($("#price-max").val() <= realvalues[index]) {
                        //alert(realvalues[index]);
                        if (parseInt($("#price-max").val()) >= parseInt($("#price-min").val())) {
                            //alert(index);
                            $slider.slider("values", 1, index);
                            $("#hdnPriceMaxVal").val(index);
                        }
                        break;
                    }
                }
            });


            //$('#price-min').live("change", function (e) {
            //    var realvalues = [0, 100, 200, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000, 105000, 110000, 115000, 120000, 125000, 130000, 135000, 140000, 145000, 150000, 155000, 160000, 165000, 170000, 175000, 180000, 185000, 190000, 195000, 200000, 205000, 210000, 215000, 220000, 225000, 230000, 235000, 240000, 245000, 250000, 255000, 260000, 265000, 270000, 275000, 280000, 285000, 290000, 295000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000, 5000000, 5500000, 6000000, 6500000, 7000000, 7500000, 8000000, 8500000, 9000000, 9500000, 9999999];

            //    var $slider = $("#slider-price");
            //    if (parseInt($("#price-min").val()) > parseInt($("#price-max").val())) {
            //        $slider.slider("values", 0, realvalues[0]);
            //        $("#price-min").val(realvalues[0]);
            //        $("#hdnTmpPriceMin").val($("#price-min").val());
            //    }
            //});

            //$('#price-max').live("change", function (e) {
            //    var realvalues = [0, 100, 200, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000, 9500, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000, 105000, 110000, 115000, 120000, 125000, 130000, 135000, 140000, 145000, 150000, 155000, 160000, 165000, 170000, 175000, 180000, 185000, 190000, 195000, 200000, 205000, 210000, 215000, 220000, 225000, 230000, 235000, 240000, 245000, 250000, 255000, 260000, 265000, 270000, 275000, 280000, 285000, 290000, 295000, 300000, 310000, 320000, 330000, 340000, 350000, 360000, 370000, 380000, 390000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000, 4500000, 5000000, 5500000, 6000000, 6500000, 7000000, 7500000, 8000000, 8500000, 9000000, 9500000, 9999999];

            //    var $slider = $("#slider-price");
            //    if (parseInt($("#price-min").val()) > parseInt($("#price-max").val())) {
            //        $slider.slider("values", 1, realvalues[132]);
            //        $("#price-max").val(realvalues[132]);
            //        $("#hdnTmpPriceMax").val($("#price-max").val());
            //    }
            //});


            $('#carat-min').live("blur", function (e) {
                var hdnMinimumCaratSize = document.getElementById("hdnMinimumCaratSize").value;
                var hdnMaximumCaratSize = document.getElementById("hdnMaximumCaratSize").value;
                var caratMin = document.getElementById("carat-min").value;
                var caratMax = document.getElementById("carat-max").value;


                if (parseFloat(hdnMinimumCaratSize) > parseFloat(caratMin)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    // return false;
                }
                if (parseFloat(hdnMaximumCaratSize) < parseFloat(caratMax)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    // return false;
                }
                ResetCaratValue('carat-min');
                GetMinCaratSlider();
            });



            $('#carat-max').live("blur", function (e) {
                var hdnMinimumCaratSize = document.getElementById("hdnMinimumCaratSize").value;
                var hdnMaximumCaratSize = document.getElementById("hdnMaximumCaratSize").value;
                var caratMin = document.getElementById("carat-min").value;
                var caratMax = document.getElementById("carat-max").value;


                if (parseFloat(hdnMinimumCaratSize) > parseFloat(caratMin)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    //return false;
                }
                if (parseFloat(hdnMaximumCaratSize) < parseFloat(caratMax)) {
                    sweetAlert("", "The Carat size you've entered requires attention. Please contact the Gem Department for a quote.", "error");
                    //return false;
                }
                ResetCaratValue('carat-max');
                GetMAXCaratSlider();
            });


            //$('#carat-min').live("change", function (e) {
            //    GetMinCaratSlider();
            //});

            //$('#carat-max').live("change", function (e) {
            //    GetMAXCaratSlider();
            //});

            $(".chkClarity1").on("click", function () {

                $("#hdnIsEyeClean").val("false");
                $("#hdnTmpIsEyeClean").val("false");
                if ($(this).is(':checked')) {
                    $("#hdnClarityClick").val("1");
                    $("#slider-clarity").slider({ disabled: false });
                    $('.Range a:last-child').addClass('handle-2');
                    //$("#chkEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $(".chkMobEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $("#slider-clarity2").slider({ disabled: true });
                    FnClaritySlider1(2, 4, false);
                    FnClaritySlider2(5, 10, true);
                    $(".chkClarity2").removeAttr("checked");
                    //$("#chkMobClarity2").removeAttr("checked");
                    $("#slider-clarity2").attr("style", "opacity:1");
                }
                else {
                    $("#hdnClarityClick").val("0");
                    FnClaritySlider1(1, 4, false);
                    $("#slider-clarity2").slider({ disabled: false });
                }


            });
            $(".chkClarity2").on("click", function () {

                $("#hdnIsEyeClean").val("true");
                $("#hdnTmpIsEyeClean").val("true");
                if ($(this).is(':checked')) {
                    $("#hdnClarityClick").val("2");
                    $("#slider-clarity").slider({ disabled: true });
                    $("#slider-clarity2").slider({ disabled: false });
                    $('.Range a:last-child').addClass('handle-2');
                    //$(".chkMobEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    $(".chkMobEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    //$(".chkMobEyeClean").attr("checked", "checked");
                    $(".chkMobEyeClean").attr("checked", "checked");
                    //$("#chkMobClarity2").attr("checked", "checked");
                    FnClaritySlider1(1, 4, false);
                    $("#slider-clarity").slider({ disabled: true });
                    $(".chkClarity1").removeAttr("checked");
                    $("#chkMobClarity1").removeAttr("checked");
                }
                else {
                    $("#hdnClarityClick").val("0");
                    FnClaritySlider2(5, 10, false);
                    $("#slider-clarity").slider({ disabled: false });
                    //$("#chkEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $(".chkMobEyeClean").removeAttr("disabled").removeAttr("checked", "");
                }
            });



            $("#chkMobClarity1").on("click", function () {
                $("#hdnIsEyeClean").val("false");
                $("#hdnTmpIsEyeClean").val("false");
                if ($(this).is(':checked')) {
                    $("#hdnClarityClick").val("1");
                    $(".chkClarity1").attr("checked", "checked");
                    $("#slider-clarity").slider({ disabled: false });

                    $('.Range a:last-child').addClass('handle-2');
                    // $("#chkEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $(".chkMobEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $("#slider-clarity2").slider({ disabled: true });
                    FnClaritySlider2(5, 10, false);
                    $(".chkClarity2").removeAttr("checked");
                    $("#chkMobClarity2").removeAttr("checked");
                }
                else {
                    $("#hdnClarityClick").val("0");
                    FnClaritySlider1(1, 4, false);
                    $("#slider-clarity2").slider({ disabled: false });
                    $(".chkClarity1").removeAttr("checked");
                }


            });
            $("#chkMobClarity2").on("click", function () {
                $("#hdnIsEyeClean").val("true");
                $("#hdnTmpIsEyeClean").val("true");
                if ($(this).is(':checked')) {
                    $("#hdnClarityClick").val("2");
                    $("#slider-clarity").slider({ disabled: true });
                    $("#slider-clarity2").slider({ disabled: false });
                    $('.Range a:last-child').addClass('handle-2');
                    //$("#chkEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    $(".chkMobEyeClean").attr("disabled", "disabled").removeAttr("checked");
                    FnClaritySlider1(1, 4, false);
                    $("#slider-clarity").slider({ disabled: true });
                    $(".chkClarity1").removeAttr("checked");
                    $("#chkMobClarity1").removeAttr("checked");
                    $(".chkClarity2").attr("checked", "checked");
                }
                else {
                    $("#hdnClarityClick").val("0");
                    FnClaritySlider2(5, 10, false);
                    $("#slider-clarity").slider({ disabled: false });
                    //$("#chkEyeClean").removeAttr("disabled").removeAttr("checked", "");
                    $(".chkMobEyeClean").removeAttr("disabled").removeAttr("checked", "");
                }
            });
        });

        function FnSort(val) {
            // alert(val);
            var sortOrder = $("#hdnSortOrder").val();
            if (sortOrder == 'asc') {
                $("#hdnSortOrder").val('desc');
            }
            else {
                $("#hdnSortOrder").val('asc');
            }
            $("#hdnSortByColumn").val(val);
            GetSearchData(1, 1);
        }

        function GetMinCaratSlider() {
            var caratMin = $("#hdnMinimumCaratSize").val();
            var caratMax = $("#hdnMaximumCaratSize").val();
            //alert(parseFloat(document.getElementById("carat-min").value));
            if (document.getElementById("carat-min").value == "") {
                document.getElementById("carat-min").value = document.getElementById("hdnTmpCaratMin").value;
                return;
            }
            if (parseFloat(document.getElementById("carat-min").value) < parseFloat(caratMin)) {
                document.getElementById("carat-min").value = caratMin;
            }
            if (parseFloat(document.getElementById("carat-min").value) > parseFloat(caratMax)) {
                document.getElementById("carat-min").value = caratMin;
            }
            if (parseFloat(document.getElementById("carat-min").value) > parseFloat(document.getElementById("carat-max").value)) {
                document.getElementById("carat-min").value = caratMin;
            }
            document.getElementById("hdnTmpCaratMin").value = parseFloat(document.getElementById("carat-min").value);
            document.getElementById("hdnTmpCaratMax").value = parseFloat(document.getElementById("carat-max").value);
            var minval = document.getElementById("hdnTmpCaratMin").value;
            var maxval = document.getElementById("hdnTmpCaratMax").value;
            $("#carat-min").val(minval);
            $("#carat-max").val(maxval);
            var $slider = $("#slider-carat");
            $slider.slider("values", 0, minval);
            $slider.slider("values", 1, maxval);
        }


        function GetMAXCaratSlider() {
            var caratMin = $("#hdnMinimumCaratSize").val();
            var caratMax = $("#hdnMaximumCaratSize").val();


            if (document.getElementById("carat-max").value == "") {
                document.getElementById("carat-max").value = document.getElementById("hdnTmpCaratMax").value
                return;
            }
            if (parseFloat(document.getElementById("carat-max").value) > parseFloat(caratMax)) {
                document.getElementById("carat-max").value = caratMax;
            }
            if (parseFloat(document.getElementById("carat-max").value) < parseFloat(caratMin)) {
                document.getElementById("carat-max").value = caratMax;
            }
            if (parseFloat(document.getElementById("carat-max").value) < parseFloat(document.getElementById("carat-min").value)) {
                document.getElementById("carat-max").value = caratMax;
            }
            document.getElementById("hdnTmpCaratMin").value = parseFloat(document.getElementById("carat-min").value);
            document.getElementById("hdnTmpCaratMax").value = parseFloat(document.getElementById("carat-max").value);
            var minval = document.getElementById("hdnTmpCaratMin").value;
            var maxval = document.getElementById("hdnTmpCaratMax").value;
            $("#carat-min").val(minval)
            $("#carat-max").val(maxval);
            var $slider = $("#slider-carat");
            $slider.slider("values", 0, minval);
            $slider.slider("values", 1, maxval);
        }


        function RefreshInternetExplorerData(part) {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            var trident = ua.indexOf('Trident/');

            if (msie > 0 || trident > 0) {
                window.location = Create_Anchor_Url('', '', part);
            }
        }

        $(function () {
            //$("#chkEyeClean").removeAttr("checked");
            $(".chkMobEyeClean").removeAttr("checked");
            $(".chkClarity2").removeAttr("checked");
            $(".chkClarity1").removeAttr("checked");
            //$("#chkMobClarity2").removeAttr("checked");
            $("#chkMobClarity1").removeAttr("checked");
            $("#hdnIsEyeClean").val("false");
            $("#hdnTmpIsEyeClean").val("false");
        });


    </script>
}
